

*{
    /* max-width: 1280px; */
    margin: 0px; 
    padding: 0px;
    /* text-align: center; */
}
.load-more-container{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.product-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap:10px;
  border: 2px solid black
  
}

.product {
    border: 2px solid black; 
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.product img{
    height: 200px;
    width: 200px;
}

